<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Add New Client</h5>
        </div>
        <div class=" card-body">
          <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <!-- <label> First Name </label> -->
                  <input class="form-control" formControlName="firstName" placeholder="First Name" type="text"
                    required />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <!-- <label> Last Name </label> -->
                  <input class="form-control" formControlName="lastName" placeholder="Last Name" type="text" required />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <!-- <label> First Name </label> -->
                  <input class="form-control" formControlName="birthday" placeholder="Birthday" type="text" required />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <!-- <label> Last Name </label> -->
                  <input class="form-control" formControlName="gender" placeholder="Gender" type="text" required />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <!-- <label> First Name </label> -->
                  <input class="form-control" formControlName="phone" placeholder="Phone" type="text"
                    required />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <!-- <label> Last Name </label> -->
                  <input class="form-control" formControlName="weight" placeholder="Weight" type="number" required />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <!-- <label> Username </label> -->
                  <input class="form-control" formControlName="username" placeholder="Username" type="text" required />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <!-- <label for="exampleInputEmail1"> Email address </label> -->
                  <input class="form-control" formControlName="email" placeholder="mike@email.com" type="email"
                    required />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <!-- <label> City </label> -->
                  <input class="form-control" formControlName="city" placeholder="City" type="text" required />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <!-- <label> Country </label> -->
                  <input class="form-control" formControlName="country" placeholder="Country" type="text" required />
                </div>
              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-success" type="submit" [disabled]="!clientForm.valid">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>