<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Clients</h4>
          <button class="btn btn-success" [routerLink]="['/add-user']">+</button>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter">
              <thead class=" text-primary">
                <tr>
                  <th>Name</th>
                  <th>Surname</th>
                  <th>City</th>
                  <th>Phone</th>
                  <th>Training</th>
                  <th>Settings</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let user of usersData'>
                  <td>{{user.name}}</td>
                  <td>{{user.surname}}</td>
                  <td>{{user.city}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{user.training}}</td>
                  <td>
                    <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
                      <i class="tim-icons icon-single-02"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
                      <i class="tim-icons icon-settings"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                      <i class="tim-icons icon-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>